<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052802305460-f1d2gr3uns3240eqsvvpa8qpifo1aihi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052802305460-f1d2gr3uns3240eqsvvpa8qpifo1aihi</string>
	<key>API_KEY</key>
	<string>AIzaSyCZdKISrLAaQ6OJXdQREWOasaym8dzDGDo</string>
	<key>GCM_SENDER_ID</key>
	<string>1052802305460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apple.DoSport.iOS</string>
	<key>PROJECT_ID</key>
	<string>dosportios</string>
	<key>STORAGE_BUCKET</key>
	<string>dosportios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052802305460:ios:dc23b63d99b7f6d003f6e1</string>
</dict>
</plist>