<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984564573884-3pkir2a9kpe9g0rei6rmghm99miie9ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984564573884-3pkir2a9kpe9g0rei6rmghm99miie9ll</string>
	<key>API_KEY</key>
	<string>AIzaSyBagCu7RicDYiUkgIZksKVi5JpkfxU3R8k</string>
	<key>GCM_SENDER_ID</key>
	<string>984564573884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SergeyU1.Dosport</string>
	<key>PROJECT_ID</key>
	<string>dosport-307319</string>
	<key>STORAGE_BUCKET</key>
	<string>dosport-307319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984564573884:ios:d9408a4dedc6d28ac112b9</string>
</dict>
</plist>